<ion-content class="">
  <div class="flex flex-col md:flex-row gap-y-3 md:gap-y-0 gap-x-5 w-full p-3">
    <img class="h-auto w-40" src="../../assets/logo/aegis-logo-blue.png" />
    <div class="felx flex-col w-full">
      <div class="font-bold text-xl text-black">
        {{'proposal.view' | translate}}
      </div>
      <div class="font-semibold text-md text-gray-500 md:w-[70%]">
        {{'proposal.description' | translate}}
      </div>
    </div>
  </div>

  <div class="mx-3">
    <div class="sm:hidden">
      <label for="tabs" class="sr-only">Select a tab</label>
      <select
        id="tabs"
        name="tabs"
        class="block w-full rounded-md border-gray-300 focus:border-[#FF865D] focus:ring-[#FF865D]"
      >
        <option
          *ngFor="let d of documentDetails; let i = index"
          (click)="selectDocument(d, i)"
        >
          {{d.documentName}}
        </option>
      </select>
    </div>
    <div class="hidden sm:block">
      <div class="border-b border-gray-200">
        <nav class="-mb-px flex flex-row" aria-label="Tabs">
          <a
            *ngFor="let d of documentDetails; let i = index"
            (click)="selectDocument(d, i)"
            [ngClass]="{'text-secondary-base border-[#FF865D] bg-gray-100 ' : selectedDocument == d.documentName}"
            class="border-transparent mx-1 rounded-xl cursor-pointer text-gray-500 hover:bg-gray-100 w-1/4 border-b-2 py-4 px-1 text-center text-sm font-medium"
            >{{d.documentName}}</a
          >
        </nav>
      </div>
    </div>
  </div>

  <div *ngIf="documentLoader" class="flex items-center justify-center gap-x-2 my-20">
    <ion-spinner name="crescent" color="secondary" type="indeterminate"></ion-spinner>
  </div>
  <div *ngIf="!documentLoader" class="flex-col border-4 border-borderProposal-base rounded-lg m-3">
    <div  class="w-full drop-down-class">
      <editor
        [init]="tinyMceConfig"
        [(ngModel)]="initialValue"
        [disabled]="true"
        [apiKey]="tinyMceApiKey"
      ></editor>
    </div>
  </div>

  <div class="flex justify-between gap-x-2 items-center mx-6">
    <div class="flex">
      <div class="text-sm flex font-medium text-gray-500">
        <ion-checkbox class="w-4 h-4" [checked]="true"></ion-checkbox>
      </div>
      <span class="text-sm font-medium text-gray-500"
        >{{'i have read the proposal' }}</span
      >
    </div>
    <span class="text-sm font-medium text-gray-500">
      {{currentDocument}} of {{documentDetails.length}}</span
    >
  </div>

  <div class="flex flex-col gap-y-6 mx-6">
    <div class="flex flex-col-reverse sm:flex-row mt-8 gap-x-8">
      <div class="sm:w-[50%] w-[100%] flex sm:flex-row flex-col gap-x-8">
        <div class="sm:w-[50%] w-[100%] gap-y-2 flex flex-col">
          <input
            class="border-0 focus:ring-0 focus:outline-0"
            placeholder="{{'proposal.user.fullName' | translate}}"
          />
          <hr />
          <div class="font-semibold text-md">
            {{'proposal.user.fullName' | translate}}
          </div>
        </div>

        <div class="sm:w-[50%] w-[100%] gap-y-2 flex flex-col">
          <input
            class="border-0 focus:ring-0 focus:outline-0"
            placeholder="{{'proposal.user.title' | translate}}"
          />
          <hr />
          <div class="font-semibold text-md">
            {{'proposal.user.title' | translate}}
          </div>
        </div>
      </div>
      
      <div class="sm:w-[50%] w-[100%] mb-5 mt-0 gap-y-2 flex flex-col ">
        <div *ngIf="signUrl !== ''" class = "flex gap-x-2 cursor-pointer w-full justify-center">
          <img  class="justify-center items-center " src ={{signUrl}} height="35%" width="35%">
        </div>
        <div
          (click)=" addSign()"
          class="flex gap-x-2 cursor-pointer w-full justify-center"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="#FF865D"
            class="w-5 h-5"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L10.582 16.07a4.5 4.5 0 01-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 011.13-1.897l8.932-8.931zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0115.75 21H5.25A2.25 2.25 0 013 18.75V8.25A2.25 2.25 0 015.25 6H10"
            />
          </svg>
          <span class="text-secondary-base">
            {{'proposal.signDocument' | translate}}</span
          >
        </div>
        <hr />
        <div class="font-semibold text-md flex justify-center">
          <span>{{'proposal.signature.title' | translate}} </span>
          <span class="font-semibold text-sm text-gray-500 ml-2">
            {{'proposal.signature.description' | translate}}
          </span>
        </div>
      </div>
    </div>
  </div>

  <div class="justify-between flex mb-10 mx-6 mt-8">
    <div
      class="hover:bg-gray-100 w-auto rounded-md py-2 px-4 flex justify-center cursor-pointer border-link-base border"
    >
      <span
        class="text-link-base text-inter font-medium text-sm "
      >
        {{'shared.skip' | translate}}
      </span>
    </div>

    <div class="flex justify-center gap-x-2">
      <div
        class="hover:bg-gray-100 w-auto rounded-md py-2 px-4 flex justify-center cursor-pointer border-link-base border"
      >
        <span
          class="text-link-base text-inter font-medium text-sm "
        >
          {{'shared.cancel' | translate}}
        </span>
      </div>
      <button
        class="bg-secondary-base disabled:opacity-50 inline-flex items-center rounded-md border border-transparent px-4 py-2 text-sm font-medium text-secondary-contrast shadow-sm hover:bg-secondary-shade"
        type="submit"
      >
        <div class="flex justify-center items-center" role="status"></div>
        <span class="text-white font-inter font-medium text-sm"
          >{{'shared.accept' | translate}}</span
        >
      </button>
    </div>
  </div>
</ion-content>
