@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {

	/* Theme Pallette */

	--ion-color-primary: #0A2E48;
	--ion-color-primary-rgb: 10,46,72;
	--ion-color-primary-contrast: #ffffff;
	--ion-color-primary-contrast-rgb: 255,255,255;
	--ion-color-primary-shade: #09283f;
	--ion-color-primary-tint: #23435a;
	--ion-color-primary-light: #0A2E481A;

	--ion-color-secondary: #FF865D;
	--ion-color-secondary-rgb: 255,134,93;
	--ion-color-secondary-contrast: #ffffff;
	--ion-color-secondary-contrast-rgb: 0,0,0;
	--ion-color-secondary-shade: #e07652;
	--ion-color-secondary-tint: #ff926d;
	--ion-color-secondary-light: #FF865D1A;
	

	--ion-color-tertiary: #ADB9BF;
	--ion-color-tertiary-rgb: 173,185,191;
	--ion-color-tertiary-contrast: #000000;
	--ion-color-tertiary-contrast-rgb: 0,0,0;
	--ion-color-tertiary-shade: #98a3a8;
	--ion-color-tertiary-tint: #b5c0c5;
	--ion-color-tertiary-light: #ADB9BF1A;

	--ion-color-link: #5D9EFF;
	--ion-color-link-rgb: 93,158,255;
	--ion-color-link-contrast: #000000;
	--ion-color-link-contrast-rgb: 0,0,0;
	--ion-color-link-shade: #528be0;
	--ion-color-link-tint: #6da8ff;

	--ion-color-success: #2dd36f;
	--ion-color-success-rgb: 45,211,111;
	--ion-color-success-contrast: #000000;
	--ion-color-success-contrast-rgb: 0,0,0;
	--ion-color-success-shade: #28ba62;
	--ion-color-success-tint: #42d77d;

	--ion-color-warning: #ffc409;
	--ion-color-warning-rgb: 255,196,9;
	--ion-color-warning-contrast: #000000;
	--ion-color-warning-contrast-rgb: 0,0,0;
	--ion-color-warning-shade: #e0ac08;
	--ion-color-warning-tint: #ffca22;

	--ion-color-danger: #eb445a;
	--ion-color-danger-rgb: 235,68,90;
	--ion-color-danger-contrast: #ffffff;
	--ion-color-danger-contrast-rgb: 255,255,255;
	--ion-color-danger-shade: #cf3c4f;
	--ion-color-danger-tint: #ed576b;

	--ion-color-medium: #92949c;
	--ion-color-medium-rgb: 146,148,156;
	--ion-color-medium-contrast: #000000;
	--ion-color-medium-contrast-rgb: 0,0,0;
	--ion-color-medium-shade: #808289;
	--ion-color-medium-tint: #9d9fa6;

	--ion-color-light: #f4f5f8;
	--ion-color-light-rgb: 244,245,248;
	--ion-color-light-contrast: #000000;
	--ion-color-light-contrast-rgb: 0,0,0;
	--ion-color-light-shade: #d7d8da;
	--ion-color-light-tint: #f5f6f9;

	/* Data Colors */

	--sales-strategy-government: #64A3381A;
	--sales-strategy-contractor: #FF83011A;
	--sales-strategy-enterprise: #3F66FB1A;
	--sales-strategy-standard: #00E8CF1A;

	--tech-adoption-high: #64A3381A;
	--tech-adoption-medium: #FFCC011A;
	--tech-adoption-low: #E03B251A;

	--growth-high: #64A3381A;
	--growth-medium: #FFCC011A;
	--growth-low: #E03B251A;

	--customer-status-qualified: #64A3381A;
	--customer-status-unqualified: #E03B251A;

	--preparing-proposal: #FFCDBB;
	--appointment-scheduled: #FFFDC9;
	--proposal-sent: #F2F7FF;
	--proposal-won: #92F4BF;
	--proposal-lost: #f55a5a;

	--provider-supplier: #FF865D4D;
	--provider-subcontractor: #FFFDC980;
	--provider-service: #F2F7FF;
	--provider-provider: #92F4BF4D;
	--provider-distributor: #eb445a1a;

	--provier-category-manufacturer:#FF865D4D;
	--provier-category-vendor:#FFFDC980;
	--provier-category-ahj:#eb445a1a;

	--dropwdown-add: #FFCDBB80;
	--dropdown-border: #CEDFE8;

	--stepper-header: #6B7280;

	--customer-information: #555555;
	--customer-information-text: #888888;

	--contact-forward-backward: #245578;

	/* Theme Pallette */

	--default-nav-width: 270px;
	--collapsed-nav-width: 75px;
	--navigation-bar-width: var(--default-nav-width) !important;

	/* Proposal */
	--extended-header-bg: #F5F5F5;
	--background-hover: none;

	--borderColor: #CEDFE8;

	;
}